# Cache and logs (Symfony2)
Tests/app/cache/*
Tests/app/logs/*
!Tests/app/cache/.gitkeep
!Tests/app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
Tests/app/config/parameters.yml
Tests/app/config/parameters.ini

# Managed by Composer
Tests/app/bootstrap.php.cache
Tests/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
/phpunit.xml
